aiobotocore
asyncpg
alembic
bcrypt==4.0.1
fastapi
faststream[rabbit]
faststream[cli]
httpx
Pillow
pydantic[Email]
PyJWT
python-dotenv
python_bcrypt
SQLAlchemy
types_aiobotocore_s3
uvicorn
python-multipart